b {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding-left: 100px;
}
c {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.navigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* Float the list items side by side */
ul.navigation li {float: left;}

/* Style the links inside the list items */
ul.navigation li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of links on hover */
ul.navigation li a:hover {background-color: #555;}

/* Small screen to hide other menus */
ul.navigation li.icon {display: none;}

/* Show home and other settings in small screen */
@media screen and (max-width:680px) {
  ul.navigation li:not(:first-child) {display: none;}
  ul.navigation li.icon {
    display: inline-block;
    float: right;
  }
}

@media screen and (max-width:680px) {
  ul.navigation.responsive {position: relative;}
  ul.navigation.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navigation.responsive li {
    float: none;
    display: inline;
  }
  ul.navigation.responsive li a {
    display: block;
    text-align: left;
  }
}

.star {
    float:left;
}
.star:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.star:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.star:not(:checked) > label:before {
    content: '★ ';
}

.star > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.star:not(:checked) > label:hover,
.star:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.star > input:checked + label:hover,
.star > input:checked + label:hover ~ label,
.star > input:checked ~ label:hover,
.star > input:checked ~ label:hover ~ label,
.star > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.star > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}

.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }