/* Remove margins and padding from the list, and add a black background color */
ul.navigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* Float the list items side by side */
ul.navigation li {float: left;}

/* Style the links inside the list items */
ul.navigation li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of links on hover */
ul.navigation li a:hover {background-color: #555;}

/* Small screen to hide other menus */
ul.navigation li.icon {display: none;}

/* Show home and other settings in small screen */
@media screen and (max-width:680px) {
  ul.navigation li:not(:first-child) {display: none;}
  ul.navigation li.icon {
    display: inline-block;
    float: right;
  }
}

@media screen and (max-width:680px) {
  ul.navigation.responsive {position: relative;}
  ul.navigation.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navigation.responsive li {
    float: none;
    display: inline;
  }
  ul.navigation.responsive li a {
    display: block;
    text-align: left;
  }
}

/* Layout */

body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#000;
	margin:0;
	padding:0;
	background:#FFFFFF;
}

p {
	margin:0;
	padding:0;
}

#main-content {
	margin:0 auto;
}

#main-image {
    margin-top: 10px;
	text-align:center;
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#7a2e00;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#7a2e00;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

.box {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:15px;
}

#logo {
    margin-top: 10px;
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#0000FF;
}